body{
    background-image: url("background3.png");
}

li{
    display: inline;
    font-size: 24px;
}

nav{
    background-color:#B0FFE3;
}

h1{
    background-color: #A0E8E5;
    font-size: 70px;
}

p{
    font-size: 40px;
    background-color:#B0FFE3;
}

h2{
    font-size: 55px;
    background-color:#B0FFE3;
}

img{
    border:25px solid #B0FFE3;
}

footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    background-color: #A0E8E5;
}

/*This next part is all about pop up boxes for images*/


a.hideDisplay{
    position: relative;
    z-index: 40;
    color:#000000;
    text-decoration: none;
}

a.hideDisplay:hover{
    z-index: 30;
}

a.hideDisplay span.showDisplayOnHover{
    display:none;
}

a.hideDisplay:hover span.showDisplayOnHover{
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    top: 5px;
    left: 20px;
    width: auto;
    padding: 10px;
    border: 1px solid #B0FFE3;
    background-color:#A0E8E5;
    color: #000000;
    text-align: left;
}

span.showBodyOfDisplayOnHover{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}

b.hideDisplay{
    position: relative;
    z-index: 40;
    color:#000000;
    text-decoration: none;
}

b.hideDisplay:hover{
    z-index: 30;
}

b.hideDisplay span.showDisplayOnHover{
    display:none;
}

b.hideDisplay:hover span.showDisplayOnHover{
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    top: 5px;
    left: 20px;
    width: auto;
    padding: 10px;
    border: 1px solid #B0FFE3;
    background-color:#A0E8E5;
    color: #000000;
    text-align: left;
}

span.showBodyOfDisplayOnHover{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}

c.hideDisplay{
    position: relative;
    z-index: 40;
    color:#000000;
    text-decoration: none;
}

c.hideDisplay:hover{
    z-index: 30;
}

c.hideDisplay span.showDisplayOnHover{
    display:none;
}

c.hideDisplay:hover span.showDisplayOnHover{
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    top: 5px;
    left: 20px;
    width: auto;
    padding: 10px;
    border: 1px solid #B0FFE3;
    background-color:#A0E8E5;
    color: #000000;
    text-align: left;
}

span.showBodyOfDisplayOnHover{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}

d.hideDisplay{
    position: relative;
    z-index: 40;
    color:#000000;
    text-decoration: none;
}

d.hideDisplay:hover{
    z-index: 30;
}

d.hideDisplay span.showDisplayOnHover{
    display:none;
}

d.hideDisplay:hover span.showDisplayOnHover{
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    top: 5px;
    left: 20px;
    width: auto;
    padding: 10px;
    border: 1px solid #B0FFE3;
    background-color:#A0E8E5;
    color: #000000;
    text-align: left;
}

span.showBodyOfDisplayOnHover{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}

e.hideDisplay{
    position: relative;
    z-index: 40;
    color:#000000;
    text-decoration: none;
}

e.hideDisplay:hover{
    z-index: 30;
}

e.hideDisplay span.showDisplayOnHover{
    display:none;
}

e.hideDisplay:hover span.showDisplayOnHover{
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    top: 5px;
    left: 20px;
    width: auto;
    padding: 10px;
    border: 1px solid #B0FFE3;
    background-color:#A0E8E5;
    color: #000000;
    text-align: left;
}

span.showBodyOfDisplayOnHover{
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}


a{
    overflow: scroll;
}

b{
    overflow: scroll;
}

c{
    overflow: scroll;
}

d{
    overflow: scroll;
}

e{
    overflow: scroll;
}

/*******************************
        MEDIA QUIERIES
*******************************/

@media screen and (max-width: 1750px) {
    e{
        display: none;
     }

}

@media screen and (max-width: 1380px) {
    d{
        display: none;
     }
     
}

@media screen and (max-width: 1050px) {
    c{
        display: none;
     }
     
}

@media screen and (max-width: 720px) {
    b{
        display: none;
     }
     
}

@media screen and (max-width: 350px) {
    a{
        display: none;
     }
     
}